html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
}

body {
  background: #000;
  color: #fff;

  font-family: 'Thasadith', sans-serif;
}

#root {
    height: 100vh;
    width: 100vw;

    position: relative;
    overflow: hidden;
}

.module {
    position: absolute;
    z-index: 3;

    h1 {
        margin: 0;
        padding: 0;
        font-size: 7em;
        line-height: 1em;
        font-weight: normal;
        display: inline-block;
    }

    h2 {
        margin: 0;
        padding: 0;
        font-size: 3.5em;
        line-height: 1em;
        font-weight: normal;
    }
}
