.clock-module {
    .time {
        font-size: 5em;
        line-height: 1em;
    }

    .part-of-day {
        margin-left: 5px;
        font-size: 1.5em;
    }

    .date {
        font-size: 1.5em;
    }
}
